:root {
  --dark: #333232;
  --prim1: #C89933;
  --prim2: #DBD053;
  --sec1: #FE5F55;
  --sec2: #FFC3C2;
  height: 100%;
  margin: 0;
}

html {
  background-color: var(--dark);


}



.center {
  margin: auto;
}







/* unvisited link */
a:link {
  color: var(--sec1);
}

/* visited link */
a:visited {
  color: var(--sec2);
}

/* mouse over link */
a:hover {
  color: var(--sec2);
}

/* selected link */
a:active {
  color: var(--sec2);
}