:root {
  --dark: #262322;
  --prim1: #7A82AB;
  --prim2: #C6D4FF;
  --sec1: #99C2A2;
  --sec2: #C5EDAC;
  height: 100%;
  margin: 0%;
}

html {
  background-color: var(--dark);


}

h1 {
  font-family: 'Fredoka One', cursive;
  font-weight: 50;
}



.center {
  margin: auto;
}







/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: var(--sec2);
}

/* selected link */
a:active {
  color: var(--sec2);
}