:root {
  --dark: #333232;
  --prim1: #C89933;
  --prim2: #DBD053;
  --sec1: #FE5F55;
  --sec2: #FFC3C2;
  height: 100%;
  margin: 0%;
}

html {
  background-color: var(--dark);


}

h1 {
  font-family: 'Fredoka One', cursive;
  font-weight: 50;
}



.center {
  margin: auto;
}







/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: var(--sec2);
}

/* selected link */
a:active {
  color: var(--sec2);
}